body {
	background-color:#FFFFE0;
	font-family: Tahoma, Arial, Colibri;
}
div {
	border-radius:5px;
}

img{
	width:200px;
	height:150px;
}

.main {
	border:solid #CCC;
	background-color:#CCC;
	box-sizing: border-box;
	margin-top:5px;
}

.main h1 {
	text-align:center;
}

.main.leftMenu {
	float:left;
	width:20%;
}

.main.header {
	height:100px;
}

.main.center {
	width:60%;
	float:left;
}
.main.rightMenu {
	width:20%;
	float:left;
}

.main.footer{
	width:100%;
	text-align:center;
	float:left;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
	width: 100%;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

.image {
	width:500px;
	height:350px;
}